:root {
    --mdc-theme-primary: #ffffff;
    --mdc-theme-secondary: #b3154b;
    --mdc-theme-surface: #303030; /*Cor da Tabela*/
}

body {
    margin: 0px !important;
    background-color: rgba(0,0,0,0.87);
}

main {
}